*{
    padding: 0;
    margin: 0;
}

.contenedor{
    border: solid black 3px;
    width: 30%;
    height: 30em;
}

.pantalla{
    border: solid red 3px;
    height: 10%;
}

.botones{
    border: solid blue 3px;
    height: 90%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.boton{
    border: solid black 3px;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 3px;
    margin: 3px;
}

#btn1, #btn2{
    border: solid black 3px;
}

